.moviesRoot {
    height: 100%;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
}

.moviesForm {
    display: flex;
    width: 100%;
    padding: 20px;
}
.movieInput {
    flex: 1;
    margin-left: 20px;
    width: 100%;
}
.movieButton {
    margin-left: 20px;
}
.suggestions {
    /* display: flex;
    flex-direction: column; */
    overflow-y: auto;
}
.results {
    display: flex;
    flex-direction: column;
}
.movieItem {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
}
.movieItemStart{
    display: flex;
    flex-direction: column;
}
.movieItemCenter {
    padding: 8px;
}
.movieItemInfo {
    display: flex;
    flex-direction: row;
}
.openSuggestionsButton {
    margin: 10px;
}
.voter {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.voters {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.pgContainer {
    list-style: none;
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: auto auto auto auto auto auto auto auto;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}

.pgBtn {
    background-color: #007ACC;
    color: white;
    margin: 2px;
    padding: 4px;
    border-radius: 8px;
}
.pgBtn a {
    user-select: none;
    outline: none;
}
.pgActive {
    background-color: blueviolet;
    color: white;
    margin: 3px;
    padding: 6px;
    border-radius: 8px;
}

.searchOptions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    user-select: none;
}
.searchOptionActive {
    background-color: blueviolet;
    color: white;
    margin: 3px;
    padding: 6px;
    border-radius: 8px;
}
.genreName {
    user-select: none;
}
.genre {
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
}
.textCenter {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
}

.opaque {
    opacity: 0.5;
}

.btn {
    width: 100%;
}